<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736783374692-6mcafc8r2hgc1mnsed3jvdvml91oga5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736783374692-6mcafc8r2hgc1mnsed3jvdvml91oga5v</string>
	<key>API_KEY</key>
	<string>AIzaSyDCR5_jwkK8y84Juc2yYu9l10ujUrDgJNw</string>
	<key>GCM_SENDER_ID</key>
	<string>736783374692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ys.TaskManager</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-c4ab0</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-c4ab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736783374692:ios:0f20febc7f8b7734d84271</string>
</dict>
</plist>